<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
<link rel="stylesheet" href="/nav.css">
<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-zeHGQI4HvdJxsC9z28tZ9_gpIPE0hDM73Q&s">
<nav class="navbar">
    <div class="logo"><a href="/"><i class="fas fa-compass"></i> WanderLust</a></div>

    <ul class="nav-links" id="nav-links">
        <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/listings"><i class="fas fa-list"></i>All Listings</a></li>
        <li><a href="/listings/new"><i class="fas fa-plus"></i>Add New Listings</a></li>
        <li><a href="/orders/my-bookings">My Bookings</a></li>

        <% if(!currUser) {%>
            <li><a href="/auth"><i class="fas fa-user"></i>Log in/Sign up</a></li>

            <% } %>
                <% if(currUser) {%>
                    <li><a href="/logout"><i class="fas fa-user"></i>Log out</a></li>

                    <% } %>

    </ul>

    <div class="hamberger" id="hamberger">
        &#9776;
    </div>



</nav>
<script>

    const hamberger = document.getElementById('hamberger');
    const navLinks = document.getElementById('nav-links');

    hamberger.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    })
</script>