*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
        }
        .form-container {
            max-width: 600px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            background: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.5);
        }

        h2 {
            text-align: center;
            color: #333;
        }

        label {
            display: block;
            margin-top: 1rem;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 0.7rem;
            margin-top: 0.5rem;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-size: 1rem;
        }

        textarea {
            resize: vertical;
        }

        .btn-submit {
            display: block;
            margin: 2rem auto 0;
            padding: 0.8rem 1.5rem;
            background-color: #0077cc;
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 1rem;
            cursor: pointer;
        }

        .btn-submit:hover {
            background-color: #005fa3;
        }